
h1{
    color: #337AB7;
    text-align: center;
}
h2{
    color:#308000 ;
    text-align: center;
}
figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
figcaption{
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bold;
}
.things{
    font-size: 20px;
}
blockquote{
    font-weight: bold;
    font-size: larger;
}
footer{
    color:#961BD6 ;
    font-size: medium;
}
a{
    font-style: italic;
}